@charset "UTF-8";

/*
 EM HTML É ID = EM CSS É #
 EM HTML É CLASS = EM CSS É (.) ponto
*/
body{
  background-color: rgb(169, 252, 252);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: rgb(3, 75, 97);
}

h1#principal {
  text-align: center; /* CENTRALIZANDO O TEXTO */
  background-color: rgb(161, 253, 222);
  color: rgb(52, 155, 121);
}

h2{
  color:  rgb(2, 168, 16);
}

.basico {
 color:  rgb(1, 81, 128);
}

.intermediario {
 color:  rgb(133, 212, 5);
}

.avançado {
 color:  rgb(233, 4, 4);
}

.destaque {
  background-color: rgb(161, 253, 222);
}