@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  /*height: 100%;*/
}
 body{
  background-image: linear-gradient(to right, #E2CEDD, #ffcee3);
 }

 main{
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #B98DB4;
  width: 600px;
  padding: 10px;
  margin: auto;
 }

 h1{
  color: #B98DB4;
  text-align: center;
  text-shadow: 1px 1px 2px #B98DB4;
 }

h2{
  color: #DFBECD;
}


p{
  text-align: justify;
}